@model IEnumerable<LeBataillon.Database.Models.Team>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fas fa-plus-circle"></i>Create New </a>
</p>
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Captain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JoueurMaximum)
            </th>
            <th></th>
        </tr>
    </thead>
  <!--  <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Captain.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JoueurMaximum)
                </td>
                <td>
                    <a class="btn btn-success text-white" asp-action="Edit" asp-route-id="@item.Id"><i
                            class="fas fa-edit"></i> Edit</a> |
                    <a class="btn btn-info text-white" asp-action="Details" asp-route-id="@item.Id"><i
                            class="fas fa-info-circle"></i> Details</a> |
                    <a class="btn btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id"><i
                            class="fas fa-trash-alt"></i> Delete</a>
                </td>
            </tr>
        }
    </tbody> -->
</table>

@section Scripts{
  <script src="~/js/Team.js"></script>

    <script>
      $    $(document).ready(function () { 
       if('@TempData["message"]' == "added"){
          Command: toastr["success"]("Create Reussi")

toastr.options = {
  "closeButton": false,
  "debug": false,
  "newestOnTop": false,
  "progressBar": false,
  "positionClass": "toast-top-right",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"
       }
       else if('@TempData["message"]' == "edit")
       { 
       Command: toastr["success"]("edit Reussi")

toastr.options = {
  "closeButton": false,
  "debug": false,
  "newestOnTop": false,
  "progressBar": false,
  "positionClass": "toast-top-right",
  "preventDuplicates": false,
  "onclick": null,
  "showDuration": "300",
  "hideDuration": "1000",
  "timeOut": "5000",
  "extendedTimeOut": "1000",
  "showEasing": "swing",
  "hideEasing": "linear",
  "showMethod": "fadeIn",
  "hideMethod": "fadeOut"       }
       else{}
    });

      })
  </script>
  }