@model LeBataillon.Database.Models.Game

@{
    ViewData["Title"] = @SharedLocals["Delete"];
}

<h1>@SharedLocals["Delete"]</h1>

<h3>@SharedLocals["ConfirmText"]</h3>
<div>
    <h4>@SharedLocals["Game"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamDefendantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamDefendantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamAttackerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamAttackerId)
        </dd>
          <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@SharedLocals["Delete"]" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">@SharedLocals["Backtolist"]</a>
    </form>
</div>
