@model LeBataillon.Database.Models.Game

@{
    ViewData["Title"] = @SharedLocals["Edit"];
}

<h1>@SharedLocals["Detail"]</h1>

<div>
    <h4>@SharedLocals["Game"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamDefendantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamDefendantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeamAttackerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeamAttackerId)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
         <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">@SharedLocals["Edit"]</a>
    <a asp-action="Index" class="btn btn-primary">@SharedLocals["Backtolist"]</a>
</div>
