@model LeBataillon.Database.Models.GamePlayerModel


@{
    ViewData["Title"] = "Index";

}

<h1>@SharedLocals["TitleGame"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fas fa-plus-circle"></i>@SharedLocals["CreateGame"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GameList[0].GameDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameList[0].TeamDefendantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameList[0].TeamAttackerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameList[0].status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GameList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GameDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamDefendantId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamAttackerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <partial name="_thirdBest" model="Model.PlayerList" />
</div>
